@import "tailwindcss";

@theme {
  --color-primary: #f6f4ff;
  --color-secondary: #010200;
  --color-background: #f8fafc;
  --color-highlighter: #8370fe;
  --color-card: #ffffff;
  --color-textPrimary: #1f2937;
  --color-textSecondary: #6b7280;
  --color-border: #e5e7eb;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-action-500: oklch(0.623 0.214 259.815);
}

@tailwind utilities;
